<a href="https://colab.research.google.com/github/eduardopaz78/Bootcamp_Dev_Python_XPEduca-o/blob/main/Trabalho_Pr%C3%A1tico_do_M%C3%B3dulo_1_Bootcamp_Dev_Py_XP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# declaração das variáveis
inicio = 0
fim = 100

# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
  if numero % 5 == 0:
        print(numero)

In [ ]:
# declaração das variáveis
inicio = 100
fim = 500

# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
  if numero % 7 == 0 and numero % 2 == 0 and numero % 5 == 0:
        print(numero)

In [ ]:
# declaração das variáveis
inicio = 0
fim = 999
divisor = 3

# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
  if numero % 3 == 0:
        print(numero)

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# transformar os caracteres da variável em maíusculo
nome = nome.upper()
cidade = cidade.upper()
cpf = cpf.upper()
print(nome, cidade, cpf)

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# transformar os caracteres da variável em minúsculo
nome = nome.lower()
cidade = cidade.lower()
cpf = cpf.lower()
print(nome, cidade, cpf)

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# exibe a posição do caractere ã, se presente, em cada uma das variáveis
nome.find('ã')

2

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# exibe a posição do caractere ã, se presente, em cada uma das variáveis
cidade.find('ã')

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# exibe a posição do caractere ã, se presente, em cada uma das variáveis
cpf.find('ã')

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# contar os caracteres de cada variável
len(nome)

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# contar os caracteres de cada variável
len(cidade)

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# contar os caracteres de cada variável
len(cpf)

In [ ]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

# remova os pontos e hífen da variável cpf
import string
cpf = cpf.translate(dict.fromkeys(map(ord, string.punctuation)))
print(cpf)

12345678900

In [ ]:
# variáveis
numero = '127957'

# somar os caracteres da string
sum(int(x) for x in numero)

31

In [ ]:
# variáveis
numero = '127957'
int(numero) + 1.0
type(numero)

str

In [ ]:
x = '5' + '5'
print(x)
type(x)

55

str

In [ ]:
(2+3)*5-1

24